.mainContent {
    padding: 35px 30px;
}

.mainTitle {
    color: #6C6C6C;
    margin-bottom: 1.2rem;
    font-size: 2rem;
    line-height: 1.4;
}

.mainPara {
    font-size: 1rem;
}

.formGroup {
    margin-bottom: 1rem;
}

.formControl {
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 0;
    font-size: 1.2rem;
    padding: .75rem .75rem;
}

.formInput {
    width: 90%;
}

.formButton {
    color: white;
    background-color: #186e9d;
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 160px;
}

.parentForm {
    display: flex;
    flex-direction: column;
}

.formStyle {
    width: 100%;
    padding-bottom: 20px;
}

.content {
    font-size: 1rem;
}

.textClass{
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1015px) {
    .mainContent {
        padding: 75px 50px 70px;
    }

    .formInput {
        width: 60%;
    }

    .parentForm {
        display: flex;
        flex-direction: row;
    }
}